/* Write your CSS here */

.singleTab {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-left: 0px;
  border-bottom: 2px solid #dfe2e5;
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #7b8794;

  font-family: 'Roboto';
  font-weight: 500;
}

.active-tab-btn {
  border-bottom: 2px solid #2563eb;
  color: #2563eb;
}
